/* some style */

* {
    font-family: "Latin Modern Roman", "lmodern", "KaTeX_Main", "serif";
}

h1.title {
    font-weight: normal;
}

:root{
    --width: min(60vh, 100vw);
}

svg.diagram {
    width: var(--width);
    stroke: grey;
    stroke-width: .5%;
    transform: scaleY(-1);
    fill: None;
}

.overflow-auto{
    overflow: auto;
}
.clamped{
    width: var(--width);
}

#arrow{
    fill: grey;
}

.arrowed{
    opacity: .3;
    marker-end: url(#arrow);
}


.selector {
    fill: red;
    opacity: 0;
    stroke: None;
}

.shadow{
    text-shadow: 0px 0px 2px skyblue;
}

#unit{
    fill: None;
    stroke: grey;
}


.axis{
    fill: None;
    stroke: skyblue;
    stroke-width: .2%;
}

.grid{
    fill: None;
    stroke: lightblue;
    stroke-width: .1%;
}

.slider {
    width: 100%;
}

input.input.is-narrow{
    width:60pt;
}

circle.point {
    stroke: None;
    fill: black;
    r: .05pt;
}


.tdir{
    stroke-width: .5%;
    stroke: lightgrey;
}

.tdir.level {
    stroke-width: .1%;
    stoke: lightblue;
}

.sdir.level{
    stroke-width: .2%;
    stroke: lightgrey;
}
